/* CSS RESET

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END CSS RESET */

body{
    font-family: sans-serif; 
	max-width:700px;
	margin: auto;   
}

img{
	max-width: 600px;
	margin: auto;
}

.recipe{
	margin: auto;
	width:75%;
}
#user-panel > li {
	list-style: none;
}

nav > ul > li{
	display: inline-block;
	justify-content:space-between;
	margin-right: 10px;
	list-style: none;
}

#user-panel{
	display: flex;
	justify-content: space-between;
}

#logout-button{
	float: right;
}

#delete-form{
	float:right;
}

#prev-next-recipe-buttons > ul > li{
	text-align: center;
}

#prev-next-recipe-buttons > ul > li{
	flex-grow: 1;
}

#recipe-buttons{
	display: flex;
    justify-content: space-between; 
    list-style: none; 
	padding-top: 2em;
}

.recipe-image{
	display:block;
	margin:auto;
}

#header-title{
	display:inline-flex;
	align-items:center;
	/* justify-content:flex-start; */
}

#header-title > img{
	padding-right:2em;
}
