{% extends 'base.html'%}
<title>User Settings</title>

{% block head %}

{% endblock %}


{% block body %}
<br>
 <!-- Include flash messages if any -->
 {% with messages = get_flashed_messages() %}
 {% if messages %}
     <ul>
         {% for message in messages %}
             <li style="color: red;">{{ message }}</li>
         {% endfor %}
     </ul>
 {% endif %}
{% endwith %}

<h1>User Settings</h1>
<br>
    <h2>User Information</h2>
    <p>Email: {{ user.Email }}</p>
<br>
    <h2>Change Password:</h2>
    <form action="{{ url_for('user_settings') }}" method="post">

        <!-- Old password should be verified first. -->
        <label for="old_password">Old Password:</label>
        <input type="password" id="old_password" name="old_password" required><br>

        <!-- New passwords must match -->
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required><br>

        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <input type="submit" value="Change Password">
    </form>
<br>
    <!-- Include a field we can use to filter recipes. -->
    <h2>Update Allergens and Dislikes</h2>
    <form action="{{ url_for('user_settings') }}" method="post">
        <label for="allergens">Allergens:</label>
        <input type="text" id="allergens" name="allergens" value="{{ user.Allergens }}"><br>
        <label for="dislikes">Dislikes:</label>
        <input type="text" id="dislikes" name="dislikes" value="{{ user.Dislikes }}"><br>
        <input type="submit" value="Update Allergens and Dislikes">
    </form>

    <!-- Display user's recipes, including an aggregate function. -->
<h2>Your Recipes ({{ recipe_count }}):</h2>
<table border="1" id="user-recipes-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in user_recipes %}
        <tr>
            <td><a href="{{ url_for('view_recipe', recipe_id=recipe.RecipeID) }}">{{ recipe.Name }}</a></td>
            <td>{{ recipe.Description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

   

{% endblock %} 