{% extends 'base.html'%}
<title>{{ recipe.Name }}</title>
{% block head %}

{% endblock %}


{% block body %}


<h1>{{ recipe.Name }}</h1>
<!-- Display warnings in bold red font -->
{% if warnings %}
<ul>
    {% for warning in warnings %}
        <li><strong style="color: red;">{{ warning }}</strong></li>
    {% endfor %}
</ul>
{% endif %}
<p>By: {{ user_first_name }} {{ user_last_initial}}</p>

<!-- If an image exists, display it! -->
{% if recipe.ImageURL %}
    <img src="{{ recipe.ImageURL }}" alt="Recipe Image">
{% endif %}

<h3>Description:</h3>
<p>{{ recipe.Description }}</p>
<br>
<!-- Use a Jinja2 loop to show all available ingredients for a recipe!-->
<h3>Ingredients:</h3>
    <ul>
        {% for quantity, unit, ingredient in ingredients %}
            <li>{{ quantity }} {{ unit }} {{ ingredient.Name }}</li>
        {% endfor %}
    </ul>

<br>
<p><strong>Instructions:</strong></p>
<p>{{ recipe.Instructions }}</p>

{% endblock %} 